<!doctype html>
<html>

<head>
	<title>RPi Boiler</title>
	<link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	<link href="//fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
	
	<link rel="manifest" href="/static/manifest.json">
	
	<link href="/static/favicon.ico" rel="shortcut icon">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
	<meta name="theme-color" content="#ffffff">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">

	<script src="static/jquery.js"></script>
	<script src="static/moment.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/bootstrap-switch-master/dist/js/bootstrap-switch.min.js"></script>
	
	<link  href="static/bootstrap/css/bootstrap-slate.css" rel="stylesheet">
	<link  href="static/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
	<link  href="static/style.css?{{ range(1, 1000) | random }}" rel="stylesheet">
</head>

<body>
	<script>
		const TIME_FORMAT_STRING = "ddd DD MMM HH:mm:ss";
		var data = JSON.parse('{{ json_data|safe }}');
		var settings = JSON.parse('{{ json_settings|safe }}');
		var ajax_count = 0;
		var interval_timer = 0;
		var swr = null;
		const APP_PUBLIC_KEY = "BE7r63OP8ElMToEKBGbWdV3tPFdLfvnchkNFulx-ygWT5TtAYuq45BU7bNanipjhkc46DEyT8hYqtkJixaNFuoI";
				
		function tod(h, m, s) {
			return parseInt((h*3600) + (m*60) + s);
		}
		
		function tod_to_str(s) {
			var h = parseInt(s / 3600);
			s -= h * 3600;
			var m = parseInt(s / 60);
			s -= m * 60;
			return h + ":" + m + ":" + s;
		}

		function debug() {
			var t = "";
			
			if (!settings.debug_mode) 
				return;

			for (var i = 0; i < arguments.length; i++) {
				if (typeof arguments[i] == 'object')
					t += JSON.stringify(arguments[i]);
				else
					t += arguments[i];
			}
			$("<div class='debug-text'></div>").text(t).prependTo('#debug');
			console.log(t);
		}

		function set_data(json_string) {
			data = JSON.parse(json_string);
			var now = moment.unix(data.server_time);
			
			$("#data").text("data " + JSON.stringify(data, null, 4));			
			$("#header-time").text(now.format(TIME_FORMAT_STRING));
			$("#boiler-status").html("Boiler = " + data.boiler_on + "<br>Thermometer = " + data.therm_temp.toFixed(1) + "&deg");
			
			if (data.override_event) {
				var start = moment.unix(data.override_event.start_time).format(TIME_FORMAT_STRING);
				var end = moment.unix(data.override_event.end_time).format(TIME_FORMAT_STRING);
				$("#override-event-info").html("Override<br>Start = " + start + "<br>End = " + end + "<br>Temp = " + data.override_event.temp + "&deg;");
				$("#override-event-info").show();
				$("#del-override-button").show();
			}
			else {
				$("#override-event-info").hide();
				$("#del-override-button").hide();
			}
			
			data.boiler_on? $("#icon-boiler-on").show(): $("#icon-boiler-on").hide();
			data.pending? $("#icon-pending").show(): $("#icon-pending").hide();
		}

		function server_ajax_request(url) {
			var local_count = ++ajax_count;
			debug(local_count, "> ", url);

			$.get(url, function(return_string) {
				debug(local_count + "< " + return_string);
				set_data(return_string);
			}).fail(function(a, b, c) {
				debug(local_count + "< fail ", a, b, c);
				// SHOW ALERT ICON?
			});
		}
		
		function notify(mess) {
			console.log("notify ", mess, swr);
			if (swr != null) {
				const title = 'Homefire';
				const options = {
					body: mess,
					icon: 'images/icon.png',
					badge: 'images/badge.png'
				};
				swr.showNotification(title, options)
			}
		}
		
		function urlBase64ToUint8Array(base64String) {
			const padding = '='.repeat((4 - base64String.length % 4) % 4);
			const base64 = (base64String + padding).replace(/\-/g, '+').replace(/_/g, '/');
			const rawData = window.atob(base64);
			return Uint8Array.from([...rawData].map((char) => char.charCodeAt(0)));
		}
		
		$(document).ready(function() {
			if (settings.debug_mode) {
				$("#data").css("display", "block");
				$("#debug").css("display", "block")
			}
			
			if (!settings.live_mode)
				$("#icon-test-mode").show();
			
			//var w = $("body").width();
			//var h = $("body").height();
			//debug("Body[", w, ", ", h, "]");
			
			/*
			if ('serviceWorker' in navigator) {
				navigator.serviceWorker.register('/sw.js').then(reg => { 
					console.log("sw register -", reg); 
					swr = reg;
					
					if ('Notification' in window) {
						//console.log(Notification);
						Notification.requestPermission();
					}
				
					if ('PushManager' in window) {
						const sub_options = {
							userVisibleOnly : true,
							applicationServerKey : urlBase64ToUint8Array(APP_PUBLIC_KEY)
						};
						reg.pushManager.subscribe(sub_options).then(sub => {
							console.log("subscription = ", sub);
							$.post("/push_subscribe", { sub_json : JSON.stringify(sub) });
						});
					}
				})
				.catch(err => console.log("sw catch ", err));
			}
			*/
			
			$("#test-button").click(function() {
				//$("#test-button").blur();
				//$.get("/do_push");
			});
			
			$("#boiler-on-button").click(function() {
				var end_time = data.server_time + tod(6, 0, 0);
				server_ajax_request("/set_override_event/" + data.server_time + "/" + end_time +  "/100.0");
			});
			$("#boiler-off-button").click(function() {
				var end_time = data.server_time + tod(6, 0, 0);
				server_ajax_request("/set_override_event/" + data.server_time + "/" + end_time +  "/0.0");
			});
			
			$("#temp-low-button").click(function() {
				$("#override-temp").val("0.0");
			});
				
			$("#temp-high-button").click(function() {
				$("#override-temp").val("100.0");
			});
			
			$("#del-override-button").click(function() {
				server_ajax_request("/del_override_event");
			});
			
			$("#override-button").click(function() {
				var start_time = moment($("#override-start").val(), "HH:mm").unix();
				var temp = parseFloat($("#override-temp").val()).toFixed(1);
				
				debug("-----");		
				debug("server_time = " + data.server_time + " " + moment(data.server_time * 1000).format("DD/MM HH:mm:ss"));
				debug("start_time = " + start_time + " " + moment(start_time * 1000).format("DD/MM HH:mm:ss"));
				
				// if start time in last 5 minutes - count that as now
				// if start time in past add 24h
				if (start_time < data.server_time) {
					if (start_time > (data.server_time - tod(0, 5, 0)))
						start_time = data.server_time;
					else
						start_time += tod(24, 0, 0);
				}
				debug("start_time = " + start_time + " " + moment(start_time * 1000).format("DD/MM HH:mm:ss"));
				
				var end_time = start_time + (3600 * parseFloat($("#override-duration").val()));	
				debug("end_time = " + end_time + " " + moment(end_time * 1000).format("DD/MM HH:mm:ss"));
				
				server_ajax_request("/set_override_event/" + start_time + "/" + end_time + "/" + temp);
			});
			
			var now = moment(data.server_time * 1000);
			$("#override-start").val(now.format("HH:mm"));
			$("#override-end").val(now.add(1, "h").format("HH:mm"));
			
			$(window).bind('focus', function() {
				debug('Window focused ' + interval_timer);
				server_ajax_request("/get_status");
				if (interval_timer == 0) 
					interval_timer = setInterval(server_ajax_request, 1000 * settings.client_refresh, "/get_status");
			}).bind('blur', function() {
				debug('Window blurred ' + interval_timer);
				clearInterval(interval_timer);
				interval_timer = 0;
			});
			
			set_data('{{ json_data|safe }}');
			interval_timer = setInterval(server_ajax_request, 1000 * settings.client_refresh, "/get_status");
		});
	</script>
	
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
        <!--
            <button type="button" class="navbar-toggle pull-left" style="margin-right:0;margin-left:10px" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button> 
        -->
            <a class="navbar-brand" href="/">Berry Boiler</a>
            <span class="navbar-brand" id="header-time">time</span>
            <div class="pull-right status-icon">
            	<span id="icon-boiler-on" class="glyphicon glyphicon-fire icon"></span>
            	<span id="icon-test-mode" class="glyphicon glyphicon-wrench icon"></span>
            	<span id="icon-loading" class="glyphicon glyphicon-repeat icon"></span>
            	<span id="icon-pending" class="glyphicon glyphicon-time icon"></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/settings">Settings</a></li>
                <li><a href="/restart">Restart</a></li>
                <li><a href="/shutdown">Shutdown</a></li>
            </ul>
        </div>
    </nav>
    
    
    <div class="container-fluid">
		<div class="row top-spacer">
			<div class="col-xs-12"><div id="boiler-status"></div></div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-6"><div id="override-event-info"></div></div>
			<div class="col-xs-6"><button type="button" id="del-override-button" class="btn btn-default d-none">X</button></div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-4"><button type="button" id="boiler-on-button" class="btn btn-default btn-block">Turn boiler on</button></div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-4"><button type="button" id="boiler-off-button" class="btn btn-default btn-block">Turn boiler off</button></div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-4">Start</div>
			<div class="col-xs-4"><input type="time" id="override-start" placeholder="now"></div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-4">Duration</div>
			<div class="col-xs-4">
				<select id="override-duration" style="width:100%">
					<option value="0.5">0.5 h</option>
					<option value="1.0">1.0 h</option>
					<option value="1.5">1.5 h</option>
					<option value="2.0">2.0 h</option>
					<option value="2.5">2.5 h</option>
					<option value="3.0">3.0 h</option>
					<option value="4.0">4.0 h</option>
					<option value="5.0">5.0 h</option>
					<option value="6.0">6.0 h</option>
					<option value="7.0">7.0 h</option>
					<option value="8.0">8.0 h</option>
				</select>
			</div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-4">Temperature</div>
			<div class="col-xs-4"><input type="text" id="override-temp" value="17.5" style="width:100%"></div>
			<div class="col-xs-4">
				<button type="button" id="temp-low-button" class="btn btn-default">L</button>
				<button type="button" id="temp-high-button" class="btn btn-default">H</button>
			</div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-4"><button type="button" id="override-button" class="btn btn-default btn-block">Set override</button></div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-4"><button type="button" id="test-button" class="btn btn-default btn-block">Test button</button></div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-4"><button type="button" id="test-button-2" class="btn btn-default btn-block">Test button 2</button></div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-4">
				<a href="/settings">
				<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-cog"></span>
				</button>
				</a>
			</div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-12">
				<div id="data"></div>
				<div id="debug"></div>
			</div>
    </div>
</body>

</html>