<!doctype html>
<html>

<head>
	<title>RPi Boiler</title>
	<link href="static/favicon.ico" rel="shortcut icon">
	<link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">

	<script src="static/jquery.js"></script>
	<script src="static/moment.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/bootstrap-switch-master/dist/js/bootstrap-switch.min.js"></script>
	
	<link  href="static/bootstrap/css/bootstrap-slate.css" rel="stylesheet">
	<link  href="static/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
	<link  href="static/style.css?{{ range(1, 1000) | random }}" rel="stylesheet">
</head>

<body>

	<script>
		var TIME_FORMAT_STRING = "ddd DD MMM HH:mm:ss";
		var COUNTDOWN_FORMAT_STRING = "HH:mm";
		var INITIAL_JSON_DATA = '{{ json_data|safe }}';
		var data = JSON.parse(INITIAL_JSON_DATA);
		var settings = JSON.parse('{{ json_settings|safe }}');
		var ajax_count = 0;

		var touch_start_x = 0;
		var touch_start_time = 0;

		function debug() {
			var t = "";
			
			if (!settings.debug_mode) 
				return;

			for (var i = 0; i < arguments.length; i++) {
				if (typeof arguments[i] == 'object')
					t += JSON.stringify(arguments[i]);
				else
					t += arguments[i];
			}
			$('#debug').prepend("<div class='debug-text'>" + t + "</div>");
			console.log(t);
		}
		
		function countdown_time() {
			t = 59 + data.countdown_off_time - data.server_time;
			if (t<0)
				t = 0;
			return moment(t * 1000).format(COUNTDOWN_FORMAT_STRING);
		}

		function set_data(json_string) {
			data = JSON.parse(json_string);
			data.local_time = parseInt(new Date().getTime() / 1000);

			$("#data").text("Data: " + JSON.stringify(data));
			$("#data").append("<br>Settings: " + JSON.stringify(settings))
			
			if (data.boiler_on)
				$("#icon-boiler-on").show();
			else 
				$("#icon-boiler-on").hide();
			
			if (data.pending)
				$("#icon-pending").show();
			else
				$("#icon-pending").hide();

			$("#time").text(moment(data.server_time * 1000).format(TIME_FORMAT_STRING));
			
			// reset ui-panels and menu
			$(".ui-panel").hide();
			$("#navbar-collapse li").removeClass("active");

			switch (data.mode) {
				case "count":
					$("#nav-count").addClass("active");
					$("#count-timer").text(countdown_time());
					$("#count-ui").show();
					break;

				case "therm":
					$("#nav-therm").addClass("active");
					$("#therm-ui").show();
					break;

				case "switch":
				default:
					$("#nav-switch").addClass("active");
					$("#switch-switch").bootstrapSwitch('state', data.boiler_on, true); // 3rd argument skips event trigger
					$("#switch-ui").show();
					break;
			}
			$(".thermometer-temp").html(data.thermometer_temp.toFixed(1) + "&deg");
			var s = parseInt(data.server_time - data.thermometer_update_time);
			$(".thermometer-time").text("Thermometer updated " + s + " seconds ago");
		}

		function server_ajax_request(url) {
			var local_count = ++ajax_count;
			debug(local_count, "> ", url);

			$.get(url, function(json) {
				debug(local_count + "< " + json);
				set_data(json);
			}).fail(function(a, b, c) {
				debug(local_count + "< fail ", a, b, c);
				// SHOW ALERT ICON?
			});
		}

		$(document).ready(function() {
			if (settings.debug_mode) {
				$("#data").css("display", "block");
				$("#debug").css("display", "block")
			}
			if (settings.test_mode)
				$("#icon-test-mode").show();
			
			var w = $("body").width();
			var h = $("body").height();
			debug("Body[", w, ", ", h, "]");
			
			
			$("#navbar-collapse li").on("click", function(e) {
				$("#navbar-collapse").collapse('hide');
				switch(this.id) {
					case "nav-switch":
						server_ajax_request("/set_mode/switch");
						break;
					case "nav-count":
						server_ajax_request("/set_mode/count");
						break;
					case "nav-therm":
						server_ajax_request("/set_mode/therm");
						break;
				}
			});
			
			$("#switch-switch").bootstrapSwitch({ size:"large", state:data.boiler_on });
			//$("#switch").bootstrapSwitch({ size:"large", state:data.boiler_on });
			$("#switch-switch").on('switchChange.bootstrapSwitch', function(e, state) {
				if (state)
					server_ajax_request("/switch/on");
				else 
					server_ajax_request("/switch/off");
			});
			
			$("#count-add").on('click', function(e) {
				if (data.countdown_off_time < data.server_time)
					data.countdown_off_time = data.server_time
				t = data.countdown_off_time + (10 * 60);
				server_ajax_request("/count/" + t);
			});
			
			$("#count-sub").on('click', function(e) {
				t = data.countdown_off_time - (10 * 60);
				if (t<0) t=0;
				server_ajax_request("/count/" + t);
			});
			

			$("#countdown-timer")
				.on('mousedown touchstart', function(e) {
					$(this).data('touched', true);
					$(this).data('x', e.pageX);
					debug("mousedown");
					$("#value").text("md");
				})
				.on('mousemove touchmove', function(e) {
					$("#value").text("mv " + e.pageX);
					if ($(this).data('touched')) {
						$("#value").text(e.pageX);
					}
				})
				.on('mouseup touchend', function(e) {
					$(this).data('touched', false);
					debug("mouseup");
					$("#value").text("mu");
				});

			set_data(INITIAL_JSON_DATA);
			setInterval(server_ajax_request, 1000 * settings.client_refresh, "/get_status");
		});
	</script>
	
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-left" style="margin-right:0;margin-left:10px" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button> 
            <a class="navbar-brand" href="/">RPi Boiler</a>
            <div class="pull-right status-icon">
            	<span id="icon-boiler-on" class="glyphicon glyphicon-fire icon"></span>
            	<span id="icon-test-mode" class="glyphicon glyphicon-wrench icon"></span>
            	<span id="icon-loading" class="glyphicon glyphicon-repeat icon"></span>
            	<span id="icon-pending" class="glyphicon glyphicon-time icon"></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
            	<li id="nav-switch"><a href="#">Switch</a></li>
                <li id="nav-count"><a href="#">Countdown</a></li>
                <li id="nav-therm"><a href="#">Thermometer</a></li>
                <li id="nav-sched"><a href="#">Schedule</a></li>
                <li style="border-top: 2px groove #343434"><a href="/settings">Settings ...</a></li>
            </ul>
        </div>
    </nav>
	
	<div id="page">
		<div id="time">time</div>
		<!--<input class="bootstrap-switch" id="switch" type="checkbox">-->
		<div id="switch-ui" class="ui-panel">
			<input class="bootstrap-switch" id="switch-switch" type="checkbox">
			<!--<input class="bootstrap-switch" id="switch" type="checkbox">-->
			<div class="thermometer">
				<img src="static/thermometer.svg" class="thermometer-icon">
				<div class="thermometer-temp"></div>
				<div class="thermometer-time"></div>
			</div>
		</div>

		<div id="count-ui" class="ui-panel">
			<div id="count-timer">countdown</div>
			<button id="count-sub" type="button" class="btn btn-default btn-lg">
				- 10 mins
			</button>
			&nbsp;
			<button id="count-add" type="button" class="btn btn-default btn-lg">
				+ 10 mins
			</button>
			<div class="thermometer">
				<img src="static/thermometer.svg" class="thermometer-icon">
				<div class="thermometer-temp"></div>
				<div class="thermometer-time"></div>
			</div>
		</div>

		<div id="therm-ui" class="ui-panel">
			<!--<div class="target_temp">therm-temp</div>-->
			<input type="text" id="therm-target-temp">

			<div class="thermometer">
				<img src="static/thermometer.svg" class="thermometer-icon">
				<div class="thermometer-temp"></div>
				<div class="thermometer-time"></div>
			</div>
		</div>
		<div id="data"></div>
		<div id="debug"></div>
	</div>
</body>

</html>