<!doctype html>
<html>

<head>
	<title>RPi Boiler</title>
	<link href="static/favicon.ico" rel="shortcut icon">
	<link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">

	<script src="static/jquery.js"></script>
	<script src="static/moment.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/bootstrap-switch-master/dist/js/bootstrap-switch.min.js"></script>
	
	<link  href="static/bootstrap/css/bootstrap-slate.css" rel="stylesheet">
	<link  href="static/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
	<link  href="static/style.css?{{ range(1, 1000) | random }}" rel="stylesheet">
</head>

<body>

	<script>
		var TIME_FORMAT_STRING = "ddd DD MMM HH:mm:ss";
		var data = JSON.parse('{{ json_data|safe }}');
		var settings = JSON.parse('{{ json_settings|safe }}');
		var ajax_count = 0;
		
		function time_in_secs(h, m, s) {
			return parseInt((h*3600) + (m*60) + s)
		}

		function debug() {
			var t = "";
			
			if (!settings.debug_mode) 
				return;

			for (var i = 0; i < arguments.length; i++) {
				if (typeof arguments[i] == 'object')
					t += JSON.stringify(arguments[i]);
				else
					t += arguments[i];
			}
			$("<div class='debug-text'></div>").text(t).prependTo('#debug');
			console.log(t);
		}

		function set_data(json_string) {
			data = JSON.parse(json_string);
			data.server_time = parseInt(new Date().getTime() / 1000);

			$("#data").text("Data: " + JSON.stringify(data));
			//$("#data").append("<br>Settings: " + JSON.stringify(settings))
			
			$("#header-time").text(moment(data.server_time * 1000).format(TIME_FORMAT_STRING));
			
			if (data.boiler_on)
				$("#icon-boiler-on").show();
			else 
				$("#icon-boiler-on").hide();
			
			if (data.pending)
				$("#icon-pending").show();
			else
				$("#icon-pending").hide();
				
			//$("#header_time").html("" + data.server_time);
				
			$("#boiler-status").html("Boiler = " + data.boiler_on + "<br>Thermometer = " + data.thermometer_temp.toFixed(1) + "&deg")
			
			
			$(".thermometer-temp").html(data.thermometer_temp.toFixed(1) + "&deg");
			var s = parseInt(data.server_time - data.thermometer_update_time);
			$(".thermometer-time").text("Thermometer updated " + s + " seconds ago");
		}

		function server_ajax_request(url) {
			var local_count = ++ajax_count;
			debug(local_count, "> ", url);

			$.get(url, function(json) {
				debug(local_count + "< " + json);
				set_data(json);
			}).fail(function(a, b, c) {
				debug(local_count + "< fail ", a, b, c);
				// SHOW ALERT ICON?
			});
		}
		
		$(document).ready(function() {
			if (settings.debug_mode) {
				$("#data").css("display", "block");
				$("#debug").css("display", "block")
			}
			if (settings.test_mode)
				$("#icon-test-mode").show();
			
			var w = $("body").width();
			var h = $("body").height();
			debug("Body[", w, ", ", h, "]");
			
			$("#boiler-on-button").click(function() {
				var end_time = data.server_time + time_in_secs(6, 0, 0);
				server_ajax_request("/set_override_event/" + data.server_time + "/" + end_time +  "/100.0");
			});
			$("#boiler-off-button").click(function() {
				var end_time = data.server_time + time_in_secs(6, 0, 0);
				server_ajax_request("/set_override_event/" + data.server_time + "/" + end_time +  "/0.0");
			});
			
			$(window).bind('focus', function() {
				debug('window focus');
				server_ajax_request("/get_status");
			}).bind('blur', function() {
				console.log('focus lost');
			});
			
			set_data('{{ json_data|safe }}');
			setInterval(server_ajax_request, 1000 * settings.client_refresh, "/get_status");
		});
	</script>
	
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle pull-left" style="margin-right:0;margin-left:10px" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button> 
            <a class="navbar-brand" href="/">RPi Boiler</a>
            <span id="header-time">time</span>
            <div class="pull-right status-icon">
            	<span id="icon-boiler-on" class="glyphicon glyphicon-fire icon"></span>
            	<span id="icon-test-mode" class="glyphicon glyphicon-wrench icon"></span>
            	<span id="icon-loading" class="glyphicon glyphicon-repeat icon"></span>
            	<span id="icon-pending" class="glyphicon glyphicon-time icon"></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/settings">Settings</a></li>
                <li><a href="/restart">Restart</a></li>
                <li><a href="/shutdown">Shutdown</a></li>
            </ul>
        </div>
    </nav>
    
    
    <div class="container-fluid">
		<div class="row top-spacer">
			<div class="col-xs-4"><div id="boiler-status"></div></div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-4"><button type="button" id="boiler-on-button" class="btn btn-default btn-block">Turn boiler on</button></div>
			<div class="col-xs-4"></div>
			<div class="col-xs-4"></div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-4"><button type="button" id="boiler-off-button" class="btn btn-default btn-block">Turn boiler off</button></div>
			<div class="col-xs-4"></div>
			<div class="col-xs-4"></div>
		</div>
		<div id="data"></div>
		<div id="debug"></div>
    </div>
</body>

</html>