<!doctype html>
<html>

<head>
	<title>RPi Boiler: Settings</title>
	<link href="static/favicon.ico" rel="shortcut icon">
	<link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">

	<script src="static/jquery.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<link  href="static/bootstrap/css/bootstrap-slate.css" rel="stylesheet">
	<link  href="static/style.css?{{ range(1, 1000) | random }}" rel="stylesheet">
</head>
<body>
	<script>
		var settings = JSON.parse('{{ json_settings|safe }}');

		function debug() {
			var t = "";
			
			if (!settings.debug_mode)
				return;

			for (var i = 0; i < arguments.length; i++) {
				if (typeof arguments[i] == 'object')
					t += JSON.stringify(arguments[i], null, 4);
				else
					t += arguments[i];
			}
			$("<div class='debug-text'></div>").text(t).prependTo('#debug');
			console.log(t);
		}
		
		function server_ajax_request(url) {
			debug("ajax: ", url);
			$.get(url, function(r) {
				debug("Settings saved ", r);
			}).fail(function(a, b, c) {
				debug("Save settings failed ", a, b, c);
			});
		}
		
		
		$(document).ready(function() {
			if (settings.debug_mode) {
				$("#debug").css("display", "block");
			}
			debug("Settings = ", settings);
			
			var option_html_template = '<div class="row top-spacer"><div class="col-xs-6">[1]</div><div class="col-xs-4"><input class="form-control" type="text" id="[2]" value="[3]"></div><div class="col-xs-2"></div></div>';
			
			for (var key in settings) {
				var option_html = option_html_template.replace("[1]", key).replace("[2]", key).replace("[3]", settings[key]);				
				$("#settings-list").append(option_html);
			}
			
			$("input").change(function() {
				server_ajax_request("/save_setting/" + this.id + "/" + this.value);
			});
			
		});
	</script>
	
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
         	<a href="/">
         	<button type="button" class="btn btn-default top-spacer pull-left" style="margin-right:0;margin-left:10px">
            	Back
        	</button>
        	</a>
          	<a class="navbar-brand" href="/settings">Settings</a>
        </div>
    </nav>
    
	<div class="container-fluid">
		<div id="settings-list"></div>
		<div class="row top-spacer">
			<div class="col-xs-4">
				<a href="/utils/">
					<button type="button" class="btn btn-default btn-block">Utils</button>
				</a>
			</div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-4"><a href="/logout"><button type="button" class="btn btn-default btn-block">Logout</button></a></div>
		</div>
		<div id="debug"></div>
    </div>
    
</body>
</html>