<!doctype html>
<html>

<head>
	<title>RPi Boiler: Settings</title>
	<link href="static/favicon.ico" rel="shortcut icon">
	<link href='//fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">

	<script src="static/jquery.js"></script>
	<script src="static/moment.min.js"></script>
	<script src="static/bootstrap/js/bootstrap.min.js"></script>
	<script src="static/bootstrap-switch-master/dist/js/bootstrap-switch.min.js"></script>
	
	<link  href="static/bootstrap/css/bootstrap-slate.css" rel="stylesheet">
	<link  href="static/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
	<link  href="static/style.css?{{ range(1, 1000) | random }}" rel="stylesheet">
</head>
<body>
	<script>
		var settings = JSON.parse('{{ json_settings|safe }}');
		console.log(settings);
		
		function server_ajax_request(url) {
			console.log("ajax : ", url);
			$.get(url, function(r) {
				console.log("Settings saved ", r);
			}).fail(function(a, b, c) {
				console.log("Save settings failed ", a, b, c);
			});
		}
		
		$(document).ready(function() {
			if (settings.debug_mode) {
				$("#debug").css("display", "block");
				$("#debug").text(JSON.stringify(settings));
			}
			
			$("#test-mode-switch").bootstrapSwitch({ size:"large", state:settings.test_mode });
			$("#debug-mode-switch").bootstrapSwitch({ size:"large", state:settings.debug_mode });
			$("#client-refresh-input").val(settings.client_refresh);
			$("#thermometer-refresh-input").val(settings.thermometer_refresh);
			$("#controller-tick-input").val(settings.controller_tick);
			$("#hysteresis-input").val(settings.hysteresis);
			$("#min-switching-input").val(settings.min_switching);
			
			$("#save-button").on('click', function(e) {
				settings.test_mode = $("#test-mode-switch").bootstrapSwitch('state')? 1: 0;
				settings.debug_mode = $("#debug-mode-switch").bootstrapSwitch('state')? 1: 0;
				settings.client_refresh = $("#client-refresh-input").val();
				settings.thermometer_refresh = $("#thermometer-refresh-input").val();
				settings.controller_tick = $("#controller-tick-input").val();
				settings.hysteresis = $("#hysteresis-input").val();
				settings.min_switching = $("#min-switching-input").val();
				server_ajax_request("/set_settings?" + $.param(settings));
			});
			
		});
	</script>
	
	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
         	<button type="button" class="navbar-toggle pull-left" style="margin-right:0;margin-left:10px">
            	<a href="/">Back</a>
        	</button>
          	<a class="navbar-brand" href="/">Settings</a>
        </div>
    </nav>

	<div class="container-fluid">
	  	<div class="row top-spacer">
			<div class="col-xs-6">Test mode</div>
			<div class="col-xs-6"><input class="bootstrap-switch" id="test-mode-switch" type="checkbox"></div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-6">Debug mode</div>
			<div class="col-xs-6"><input class="bootstrap-switch" id="debug-mode-switch" type="checkbox"></div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-6">Client refresh (s)</div>
			<div class="col-xs-4"><input class="form-control" type="text" id="client-refresh-input"></div>
			<div class="col-xs-2"></div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-6">Controller tick (s)</div>
			<div class="col-xs-4"><input class="form-control" type="text" id="controller-tick-input"></div>
			<div class="col-xs-2"></div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-6">Thermometer refresh (s)</div>
			<div class="col-xs-4"><input class="form-control" type="text" id="thermometer-refresh-input"></div>
			<div class="col-xs-2"></div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-6">Hysteresis (deg)</div>
			<div class="col-xs-4"><input class="form-control" type="text" id="hysteresis-input"></div>
			<div class="col-xs-2"></div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-6">Minimum time between switching (s)</div>
			<div class="col-xs-4"><input class="form-control" type="text" id="min-switching-input"></div>
			<div class="col-xs-2"></div>
		</div>
		<div class="row top-spacer">
			<div class="col-xs-4"></div>
			<div class="col-xs-4"><button type="button" id="save-button" class="btn btn-default btn-block">Save</button></div>
			<div class="col-xs-4"></div>
		</div>
		<div id="debug"></div>
    </div>
    
</body>
</html>